.App {
  text-align: center;
}

div {
  box-sizing: border-box;
}

.list {
  padding: 0px 20px;
  text-align: left;
  border-bottom: 1px solid grey;
}

.layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.favoriteButton {
  cursor: pointer;
  text-align: right !important;
}

p {
  margin-top: 0px;
}

.black-nav {
  display: flex;
  background: black;
  width: 100%;
  color: white;
  padding-left: 20px;
}

.modal {
  margin-top: 20px;
  padding: 20px;
  background-color: #eee;
  text-align: left;
}